.DS_Store
/node_modules
/__sapper__
/mastodon
/mastodon.log
/src/template.html
/static/icons.svg
/static/inline-script.js.map
/static/emoji-*.json
/static/TwemojiCountryFlags.woff2
/src/inline-script/checksum.js

.now
/webpack/*.cjs
